﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*2 panel page with the left being the available teams and right being the filters*@
<div class="row" ng-app="teamApp" ng-controller="TeamsController">
    @*Here we will display the available teams from the team controller.*@ 
    <div class="col-xs-6">
        @*repeat the div once for each team.*@
        @*Note: the div in a div for styling purposes*@
        @*Note: In this case TeamFilter is not present on the page. We will use it in script*@
        <div class="col-lg-4 col-md-6 col-sm-12" ng-repeat="team in teams | filter:teamFilter">
            <div class="mlb-block">
                <span>{{team.City}}</span><br/>
                <span>{{team.TeamName}}</span><br/>
                <img src="{{team.URL}}"/>
            </div>
        </div>
    </div>
    @*Here we will be able to filter the teams using checkboxes*@
    <div clas="col-xs-6">
        @*Note: Unique is a special keyword. We will have an override in our script to control how this works.*@
        <span ng-repeat="team in teams | unique: 'City'">
            @*Note: We are working with team objects still, we just only care about city property.*@
            @*We are trying to make the city not repeat in the list.*@ 
            <input type="checkbox" ng-click="filterByCity($event, team.City)" checked/>{{team.City}} <br/>
        </span>
    </div>
</div>

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/app/angular.css"/>
}

@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/teams.js"></script>
}