﻿
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm("Add", "States"))
{
    <div class="form-group">
        State1 Abbrv <input type="text" name="[0].Abbreviation" id="[0].Abbreviation" />
    </div>
    <div class="form-group">
        State1 Name <input type="text" name="[0].Name" id="[0].Name" />
    </div>
    <div class="form-group">
        State2 Abbrv <input type="text" name="[1].Abbreviation" id="[1].Abbreviation" />
    </div>
    <div class="form-group">
        State2 Name <input type="text" name="[1].Name" id="[1].Name" />
    </div>
    <button class="btn btn-info">Add Em</button>
}