﻿
@{
    ViewBag.Title = "MVCListBox";
}

<h2>MVCListBox</h2>
@model JQueryWebAPIPlayground.Models.TeamSelectionVM
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-6 col-lg-offset-3">
            <h1>@Model.TeamToEdit.Name</h1>
            @Html.HiddenFor(t => t.TeamToEdit.Id)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            @Html.ListBox("available", Model.Players)
        </div>
        <div class="col-sm-4">
            <button type="button" id="add" class="btn btn-danger">ADD</button>
            <button type="button" id="remove" class="btn btn-danger">Release</button>
        </div>
        <div class="col-sm-4">
            @Html.ListBoxFor(t=>t.PlayersToAdd, Model.PlayersOnTeam)
        </div>
    </div>
    <button class="btn btn-success">SAVE</button>
}

<div class="row">
    <div class="col-sm-3">
        @if (Model.TeamToEdit.Players.Any())
        {
            foreach (var player in Model.TeamToEdit.Players)
            {
                <p>@player.JerseyNumber @player.LastName</p>
            }
        }
        else
        {
            <p>there are no players on the team</p>
        }
    </div>
</div>

@section scripts{
    <script src="~/Scripts/app/dynamicAdd.js"></script>
}