﻿@model OrdersMVC.Web.Models.AddOrderVM

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm("Add", "Orders"))
{
    <div class="form-group">
        @Html.LabelFor(o => o.NewOrder.CustomerName)
        @Html.TextBoxFor(o => o.NewOrder.CustomerName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(o => o.NewOrder.OrderDate)
        @Html.EditorFor(o => o.NewOrder.OrderDate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(o=> o.NewOrder.State.Abbreviation)
        @Html.DropDownListFor(o=>o.NewOrder.State.Abbreviation, Model.States, "Pick a State", 
       new {@class="form-control"})
    </div>
    @*<div class="form-group">
        @Html.LabelFor(o => o.NewOrder.State.Abbreviation)
        @Html.TextBoxFor(o => o.NewOrder.State.Abbreviation, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(o => o.NewOrder.State.Name)
        @Html.TextBoxFor(o => o.NewOrder.State.Name, new { @class = "form-control" })
    </div>*@
    <div class="form-group">
        @Html.LabelFor(o => o.NewOrder.Total)
        @Html.TextBoxFor(o => o.NewOrder.Total, new { @class = "form-control" })
    </div>
    <button class="btn btn-danger">Add</button>
}