﻿
@{
    ViewBag.Title = "LoggedInOnly";
}

<h2>LoggedInOnly</h2>

I AM A LOGGED IN USER!

@*considitionally show this if the user has the role admin*@
@if (User.IsInRole("Admin"))
{
    <p>You are also an admin!</p>
}