﻿<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="friend.Name" />
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" ng-model="friend.Phone" />
        </div>
        <div class="form-group">
            <label>Age</label>
            <input type="text" class="form-control" ng-model="friend.Age" />
        </div>
        <button class="btn btn-success" ng-click="save()">Save Friend</button>
    </div>
</div>