﻿@model TaskList.Models.Person

@*create a button for showing the modal dialog*@
<button id="showModal" type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal">Add Person</button>

@*The Modal dialog to display*@
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        
        @*This is NOT part of the modal
        Instead I have used MVC for the Add to keep focused on the Modal in this case*@
        @Html.BeginForm("AddPerson","Home"){

        <div class="modal-content">
            <div class="modal-header">
                @*give it a button to dismiss the modal*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                @*create the form to add a person*@
                <div class="form-group">
                    <label>First Name</label>
                    @Html.TextBoxFor(m=>m.FirstName,new {@class="form-control"})
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="modal-footer">
                <button>Add</button>
            </div>
        </div>
        
        }

    </div>
</div>