﻿.mlb-block {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.mlb-block img {
    max-width: 50%;
    max-height: 50%;
    position: relative;
}