﻿@model List<ZachsWebApp.Models.Person>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Career.Title</td>
                    <td>@Html.ActionLink("Details", "Person", "Home", new {id = person.Id}, new {@class="btn btn-default"})</td>
                </tr>
            }
        </tbody>
    </table>
}