.container{
	width: 400px;
	text-align: center;
}
input{
	width: 100px;
}
#button{
	margin-top: 20px;
	height: 50px;
	width: 200px;
	border-color: black;
	border-width: 2px;
}
#results{
	background-color: lightgray;
	display:none;
}
#results span{
	text-align: left;
	padding: 10px 10px;
	border: 1px solid black;
}
th, td{
	height: auto;
	background: white;
	padding-right: 10px;
	padding-left: 10px;
}
th{
	background: gray;
}
tr{
	height: 3em;
}
table{
	
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}