table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
hr{
	border: 1px solid black;
}

.albumImage{
	background-image: url('img/loveasadarkhallway.jpg');
	background-size: contain;
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
}
.customFont{
	font-family: Impact, sans-serif;
}
.memberList{
	font-style: italic;
}