﻿@model ModelValidation.Models.Appointment

@{
    ViewBag.Title = "Completed";
}

<h2>Your appointment has been confirmed!</h2>

<p>Your name is: <b>@Html.DisplayFor(m => m.ClientName)</b></p>
<p>Date of the appoint is set for: <b>@Html.DisplayFor(m => m.Date)</b></p>
<p>Time allotted is: <b>@Html.DisplayFor(m => m.Time)</b></p>

