#header-wrap {
	background: white;
	position: fixed;
	width: 100%;
	height: 80px;
	top: 0;
	z-index: 2;
	text-align: center;

}
#menu-wrap{
	border-top: 1px solid black;
	border-bottom:1px solid black;
	background: white;
	position: fixed;
	margin-top: 80px;
	width: 100%;
	height: 50px;
	top: 0;
	z-index: 1;
}
#menu-link{
	padding: 15px 0;

	
}
#menu-link a{
	padding: 0 20px;
	color: black;
	text-decoration: none;
}
#container{ 
	margin-top: 160px;
	margin-bottom: 110px;


}
/*index*/
.restaurant-image {
	margin-top: 20px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.restaurant-image img{
	width: 400px;
	height: 150px;
}
.home-text{
	margin-top: 20px;
	margin-left: -200px;
	position: relative;
	display: inline-block;
	left: 50%;
	width: 378px;
	padding: 0 10px;
	border: 1px solid black;

}
/*menu*/
.column-left{ 
	float: left;
	width: 33%;
	text-align: center;
	display: inline-table;
	position: relative;
}
.column-right{ 
	float: right;
	width: 33%;
	display: inline-table;
	text-align: center;
	position: relative;
}
.column-center{ 
	display: inline-table; 
	width: 33%;
	text-align: center; 
	position: relative;
}
/*contact*/
#container-contact{
	width: 650px;
	margin-right: auto;
	margin-left: auto;

}

label {
	
	text-align: right;
	margin-bottom: 20px;
	padding-right: 20px;
	float: left;
	clear: left;
	width: 300px;
}
textarea, [type="text"]{
	display: block;
	width: 200px;
	resize: none;

}
select{
	width: 205px;
}
input, textarea, select{
	margin-bottom: 20px;
}
footer{
	background-color: white;
  	position: fixed;
  	bottom: 0;
  	width: 100%;
  	border-top: 1px solid black;
  	z-index: 2;
}
footer h3{
	text-align: center;
}

