﻿@using RSVPResponses.Models
@model RSVPResponses.MVC.Models.ListAttendeesVM
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Add Attendee", "AddRSVP", "Home", new {@class = "btn btn-primary"})

<div class="row">
    @using (Html.BeginForm("FilterResult", "Home", FormMethod.Post))
    { 
        foreach (var day in Enum.GetValues(typeof(DaysOfTheWeek)))
        {
            if (day.ToString() != "None")
            {
                <span>
                    @if ((Model.Checkboxes & (DaysOfTheWeek) day) > 0)
                    {
                        @Html.CheckBox(day.ToString(), new {value = (int) day, @class = "days", @checked = true})
                        @day.ToString()
                    }
                    else
                    {
                        @Html.CheckBox(day.ToString(), new { value = (int)day, @class = "days"})
                        @day.ToString()
                    }
            </span>
            }
        }
        @Html.HiddenFor(m => m.Checkboxes)

        <button>Filter</button>
    }
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Favorite Game</th>
        <th>Days</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var attendee in Model.Attendees)
    {
        <tr>
            <td>@attendee.Name</td>
            <td>@attendee.Email</td>
            <td>@attendee.FavoriteGame</td>
            <td>@attendee.Days</td>
        </tr>
    }
    </tbody>
</table>

@section scripts{
    <script src="~/scripts/app/filter.js"></script>
}