﻿@using TaskList.Models
@model List<Person>
@{
    ViewBag.Title = "People";
}

<h2>People</h2>

@*Display the add as a modal dialog*@
@*Note: there is no button here, that is in the modal*@
@*also a good practice to put the modal into a partial so that code is separate*@
@Html.Partial("_AddPerson", new Person())

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Last Name</th>
                <th>First Name</th>
            </tr>
            </thead>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.PersonId</td>
                    <td>@person.LastName</td>
                    <td>@person.FirstName</td>
                </tr>
            }
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/app/clearModal.js"></script>
}