﻿
@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>

@*create a div with the angular application*@
<div class="row" ng-app="tasksApp">
    @*create a text box for the filtering the results of the list*@
    <div class="col-sm-3">
        <input type="text" ng-model="nameFilter"/>
    </div>

    @*use the angualar controller so that we have access to our method*@
    <div class="col-sm-6" ng-controller="TasksController">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>DueDate</th>
                <th>Priority</th>
            </tr>
            </thead>
            <tbody>
            @*The ng-repeat allows us to iterate the collection and print the individual tasks*@
            @*add the filter from the text box added to the ng-repeat. Note in this case we will only filter on the TaskName*@
            <tr ng-repeat="task in tasks | filter:{TaskName:nameFilter}">
                <td>{{task.TaskId}}</td>
                <td>{{task.TaskName}}</td>
                <td>{{Task.DueDate}}</td>
                <td>{{Task.Priority}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    @*include angular as well as our own script*@
    @*make sure angular is first as it is required for our script*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/taskAJAX.js"></script>
}