﻿@model JQueryValidation.Models.RsvpResponse
@{
    ViewBag.Title = "RegistrationForm2";
}

<h2>RegistrationForm2</h2>


<div class="row">
    <div class="col-xs-6">
        @using (Html.BeginForm("RegistrationForm", "Home", null, FormMethod.Post, new { id = "rsvpForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Your Name:</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Your Email:</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Your Phone:</label>
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Your Favorite Game:</label>
                @Html.TextBoxFor(m => m.FavoriteGame, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Will you Attend?</label>
                @Html.DropDownListFor(m => m.WillAttend, new[]
                {
                    new SelectListItem {Text = "Yes", Value = bool.TrueString},
                    new SelectListItem {Text = "No", Value = bool.FalseString}
                }, "Choose an option", new { @class = "form-control" })
            </div>
            <button class="btn btn-primary">Submit RSVP</button>
        }
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/app/rsvpValidation.js"></script>
    <script src="~/Scripts/app/jquery-validate-defaults.js"></script>
    <script src="~/Scripts/additional-methods.min.js"></script>
}