.customFont{
	font-family: Impact, sans-serif;
}
a:hover  {
	background-color: limegreen;
	text-decoration: underline;
}
a {
    text-decoration: none;
}
.table{
	max-width: 90%;
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
}
.thead-inverse th{
	text-align: center;
}
.thead-inverse{
	color: white;
	background-color: black;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: darkgray;
  color:white;
}
.trackTitle{
	text-align: center;
}
hr{
	width: 90%;
	color: black;
	height: 1px;
	background-color:black;
}
.img-circle{
	margin-top: 20px
}