﻿<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Droppable - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        #draggable {
            width: 100px;
            height: 100px;
            padding: 0.5em;
            float: left;
            margin: 10px 10px 10px 0;
        }

        #droppable {
            width: 150px;
            height: 150px;
            padding: 0.5em;
            float: left;
            margin: 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $(document)
                .on('click',
                    '#gethtml',
                    function() {
                        alert($('.dropped')[0].innerHTML);
                    });
    $( "#draggable" ).draggable();
    $( "#droppable" ).droppable({
      drop: function( event, ui ) {
        $( this )
          .addClass( "ui-state-highlight" )
          .find( "p" )
            .html("Dropped!");

          $(ui.draggable[0]).addClass('dropped');
      },
        out: function(event, ui) {
            $(this)
                .removeClass("ui-state-highlight")
                .find("p")
                .html("NOT HERE ANYMORE!");

            $(ui.draggable).removeClass('dropped');
        }
    });
  } );
    </script>
</head>
<body>

    <div id="draggable" class="ui-widget-content">
        <p>Drag me to my target</p>
    </div>

    <div id="droppable" class="ui-widget-header">
        <p>Drop here</p>
    </div>
    
<button id="gethtml">Get HTML</button>

</body>
</html>