﻿@model JqueryFun.Models.Appointment
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("ConfirmAppt", "Home"))
{
    <div class="container">
        <div class="form-group">
            <label>Name</label>
            @Html.EditorFor(a => a.Title)
        </div>
        <div class="form-group">
            <label>Date</label>
            @Html.TextBoxFor(a => a.Date, new {@class="datepicker"})
        </div>
        <div class="form-group">
            <label>Description</label>
            @Html.TextAreaFor(a => a.Notes)
        </div>
    </div>
    <button>submit</button>
}

@section scripts
{
    <script src="~/Scripts/app/datepicker.js"></script>
}
