﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row" ng-app="studentApp" ng-controller="studentController">
    <div class="col-sm-3">
        <div class="form-group">
            <label>Name</label>
            <input type="text" ng-model="studentName" class="form-control" placeholder="Bob's you uncle'"/>
        </div>
        <button type="button" ng-click="save()">This SHould say something</button>
    </div>
    <div class="col-sm-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Student Id</th>
                <th>Student Name</th>
                <th>Courses Taking</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="student in students">
                <td>{{student.Id}}</td>
                <td>{{student.Name}}</td>
                <td><span ng-repeat="course in student.Courses">{{course.Name}} </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/studentApp.js"></script>
}