
h1.restName{
	text-align: center;
	font-family: Papyrus, fantasy; 
	font-size: 4em;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
	overflow: scroll;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: white;	
	z-index: 9999;
}
.footer > .container {
	border-top: 1px solid lightgray;
}
noscript > .jumbotron{
	margin-top: 10px;
	text-align: center;
	background-color: red;
	color:white;
}
/*menu*/
#bev{
	text-align: left;
	float: left;
	clear: left;
	padding-bottom: 3px;
}
#price{
	text-align: right;
	float: right;
	clear: right;
	padding-bottom: 3px;
}
#beverages{			
	display: table;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
.row > .col-md-4 > p,h2{
	text-align: center;
}
/*contact*/
textarea, [type="text"], [type="email"]{
	display: block;
	width: 200px;
	resize: none;
}
select{
	width: 200px;
}
input, textarea, select{
	margin-bottom: 20px;
}
#contactLeft{
	text-align: left;
}
@media (min-width: 992px) {
	#contactLeft.col-md-6 {
		text-align: right;
	}
}
#container-contact{
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}
#check{
	margin-right: 4px;
	
}
#radioBotton{
	margin-right: 4px;
}
#submitButton{
	margin-top: 5px;
}
#myCarousel{
	margin-bottom: 10px;
}
#homeText{
	text-align: center;
}