body{
	margin: 0;
}
#header-wrap {
	background: white;
	position: fixed;
	width: 100%;
	height: 80px;
	top: 0;
	z-index: 2;
	text-align: center;
}
#header-wrap h1{
	font-family: Papyrus, fantasy;
}
#menu-wrap{
	border-top: 1px solid black;
	border-bottom:1px solid black;
	background: white;
	position: fixed;
	margin-top: 80px;
	width: 100%;
	height: 50px;
	top: 0;
	z-index: 1;
}
#menu-link{
	padding: 15px 0;

	
}
#menu-link a{
	padding: 0 20px;
	color: black;
	text-decoration: none;
}
#container{ 
	margin-top: 160px;
	margin-bottom: 110px;


}
/*index*/
.home-text{
	margin-top: 20px;
	margin-left: -200px;
	position: relative;
	display: inline-block;
	left: 50%;
	width: 378px;
	padding: 0 10px;
	border: 1px solid black;
	background-color: white;

}


footer{
	background-color: white;
  	position: fixed;
  	bottom: 0;
  	width: 100%;
  	border-top: 1px solid black;
  	z-index: 2;
}
footer h3{
	text-align: center;
}

