﻿/*class form the validation when something is valid*/
.ng-valid.ng-dirty {
    border-color: green;
}

/*class form the validation when something is invalid*/
.ng-invalid.ng-dirty {
    border-color: red;
}
