﻿<!--div for the control-->
<!--in the div the ng-repeat will take the maxRatings and draw that many stars, hence a value of 5 produces 5 possible stars-->
<!--Note: I inlcuded the CSS for the control here. This could be moved to external file.-->
<div style="display: inline-block; margin: 0; cursor: pointer;"
     ng-repeat="idx in maxRatings track by $index">
    <!--the control is actually just made up of img tags. Each references an image we add previously-->
    <!--Note since there is logic to which star to draw we need a method on the directive to tell us which image to display.-->
    <!--Thus a rating of 3 will draw the first three rating stars as filled in-->
    <img src="{{getStarPath($index)}}"
         ng-click="starClick($index + 1)"
         ng-mouseenter="starMouseHover($index + 1)"
         ng-mouseleave="starMouseLeave($index + 1)"/>
    <!--Notice all the events that we will handle in the javascript of the directive.--> 
</div>
<span class="label label-primary" style="margin-left: 5px" ng-bind="getRating()"></span>
