﻿
@{
    ViewBag.Title = "CustomDirective";
}

<h2>CustomDirective</h2>

@*simple 2 div scenario*@
@*1 div for the angular module and 1 for the directive itself*@
<div ng-app="movieApp">
    @*ng-star-rating is my directive*@
    @*rating is a property of my new directive*@
    <div ng-star-rating rating="MRating"></div>
</div>

@section scripts{
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/app/customdirective.js"></script>
}