﻿
@{
    ViewBag.Title = "Filters";
}

<h2>Filters</h2>

<div class="row" ng-app ng-init="friends=[{name: 'John', phone: '555-1212', age: 26},
     {name: 'Mary', phone: '555-9876', age: 19},
     {name: 'Mike', phone: '999-1212', age: 21},
     {name: 'Adam', phone: '999-9876', age: 35},
     {name: 'Julie', phone: '123-4567', age: 29}]">
    <div class="col-sm-4">
        <input type="text" ng-model="friendFilter"/>
        <input type="text" ng-model="nameFilter"/>
    </div>
    <div class="col-sm-4">
        <ul>
            <li ng-repeat="friend in friends | filter:{age:friendFilter,name:nameFilter} | orderBy:'name'">
                {{friend.name}}, {{friend.phone}}, age: {{friend.age}}
            </li>
        </ul>
    </div>
</div>