﻿
@{
    ViewBag.Title = "Modules";
}

<h2>Modules</h2>

<div class="row" ng-app="demoApp">
    <div class="col-sm-4" ng-controller="SimpleController">
        <h1>{{manager.name}} {{manager.number}}</h1>
        <ul>
            <li ng-repeat="player in players">
                {{player.name}} - {{player.pos}}
            </li>
        </ul>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/app/module.js"></script>
}