﻿
@{
    ViewBag.Title = "ModulesWithWebAPI";
}

<h2>ModulesWithWebAPI</h2>

<div ng-app="playersApp">
    <div ng-controller="playerController">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Position</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in players">
                <td>{{player.Number}}</td>
                <td>{{player.Name}}</td>
                <td>{{player.Position}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/app/moduleWithAPI.js"></script>
}
