﻿
@{
    ViewBag.Title = "Validation";
}

<h2>Validation</h2>

@*div for form being validated*@
@*Note: the ng-app for the name of the angular module*@
<div class="row" ng-app="validationApp">
    @*Form being validated*@
    @*Note: novalidate allows the angular app to control validation*@
    <form name="validationForm" ng-controller="ValidationController as validationCtrl" novalidate>
        <fieldset class="form-group">
            @*ng-show being used for the conditional display of text*@
            @*logic states if the value has been changed and it is invalid then display*@
            <label class="control-label text-danger" ng-show="validationForm.Body.$dirty && validationForm.Body.$invalid">
                Your review must be at least 25 characters
            </label>
            @*ng-minlength is providing validation that the value here is at least 25 characters*@
            <textarea class="form-control" name="Body" placeholder="write a short review" title="Review"
                      ng-model="validationCtrl.newReview.Body" ng-minlength="25"></textarea>
        </fieldset>
    </form>
</div>

@section scripts
{
    <script src="~/scripts/app/validation.js"></script>
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/app/validation.css" />
}
